jupyter>=1.1.1
pandas>=3.0.1
pydantic>=2.12.5
five-safes-tes-workbench>=0.4.0
scipy>=1.17.1
partialstats @ git+https://github.com/Health-Informatics-UoN/partialstats/
python-omop-vis @ git+https://github.com/health-Informatics-UoN/python-omop-vis
altair>=6.0.0
altair-upset>=0.3.0